<a href="https://colab.research.google.com/github/SandeepNemalikanti07/SQL/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT

#Basic Syntax &IO

In [ ]:
print("Hello","World")

Hello World

In [ ]:
# Taking user input
user_input= input("Enter something: ")

# Printing the input
print("You entered:", user_input)

Enter something: Hiii
You entered: Hiii

In [ ]:
# Taking input from the user
a = input("Enter the first value (a): ")
b = input("Enter the second value (b): ")

# Swapping the values
a, b = b, a

# Displaying the result
print("After swapping:")
print("a =", a)
print("b =", b)

Enter the first value (a): 2
Enter the second value (b): 3
After swapping:
a = 3
b = 2

In [ ]:
# Taking input from the user
num = int(input("Enter a number: "))

# Checking if the number is even or odd
if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter a number: 2
2 is Even

In [ ]:
# Taking input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Comparing the numbers
if num1 > num2:
    print("The largest number is:", num1)
elif num2 > num1:
    print("The largest number is:", num2)
else:
    print("Both numbers are equal.")

Enter the first number: 75
Enter the second number: 75.1
The largest number is: 75.1

#Operators

In [ ]:
# Taking input from the user
a = float(input("Enter value for a: "))
b = float(input("Enter value for b: "))

# Performing arithmetic operations
print("Addition (a + b) =", a + b)
print("Subtraction (a - b) =", a - b)
print("Multiplication (a * b) =", a * b)

# Handling division by zero
if b != 0:
    print("Division (a / b) =", a / b)
    print("Modulus (a % b) =", a % b)
else:
    print("Division and modulus not possible (b is 0)")

print("Exponentiation (a ** b) =", a ** b)

Enter value for a: 7
Enter value for b: 5
Addition (a + b) = 12.0
Subtraction (a - b) = 2.0
Multiplication (a * b) = 35.0
Division (a / b) = 1.4
Modulus (a % b) = 2.0
Exponentiation (a ** b) = 16807.0

In [ ]:
# Taking input from the user
num = float(input("Enter a number: "))

# Calculating square and cube
square = num ** 2
cube = num ** 3

# Displaying the results
print("Square of", num, "is:", square)
print("Cube of", num, "is:", cube)

Enter a number: 5
Square of 5.0 is: 25.0
Cube of 5.0 is: 125.0

In [ ]:
# Taking input from the user
celsius = float(input("Enter temperature in Celsius: "))

# Converting to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Displaying the result
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 75
Temperature in Fahrenheit: 167.0

In [ ]:
# Taking input from the user
kilometers = float(input("Enter distance in kilometers: "))

# Conversion factor
conversion_factor = 0.621371

# Converting to miles
miles = kilometers * conversion_factor

# Displaying the result
print("Distance in miles:", miles)

Enter distance in kilometers: 25
Distance in miles: 15.534275000000001

In [ ]:
# Taking input from the user
num = float(input("Enter a number: "))

# Checking the number
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 0
The number is zero.

# Conditional Statements

In [ ]:
# Taking input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Finding the largest number
if num1 >= num2 and num1 >= num3:
    print("largest number is=", num1)
elif num2 >= num1 and num2 >= num3:
    print("largest number is =", num2)
else:
  print("largest number is =", num3)
  # Displaying the result
#print("The largest number is:", largest)

Enter the first number: 10
Enter the second number: 25
Enter the third number: 15
largest number is = 25.0

In [ ]:
year = int(input("Enter a year: "))

# Leap year conditions
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a Leap Year")
else:
    print(f"{year} is Not a Leap Year")

Enter a year: 2003
2003 is Not a Leap Year

In [ ]:
# Taking input from the user
char = input("Enter a single alphabet character: ").lower()

# List of vowels
vowels = ['a', 'e', 'i', 'o', 'u']

# Check if input is a single alphabet
if len(char) == 1 and char.isalpha():
    if char in vowels:
        print(char, "is a vowel.")
    else:
        print(char, "is a consonant.")
else:
    print("Please enter a single alphabet character.")

Enter a single alphabet character: i
i is a vowel.

In [ ]:
# Student marks
maths = 85
science = 78
english = 92

# Function to assign grade based on marks
def get_grade(marks):
    if 90 <= marks <= 100:
        return 'A'
    elif 80 <= marks < 90:
        return 'B'
    elif 70 <= marks < 80:
        return 'C'
    elif 60 <= marks < 70:
        return 'D'
    elif 50 <= marks < 60:
        return 'E'
    else:
        return 'F'

# Assigning grades
maths_grade = get_grade(maths)
science_grade = get_grade(science)
english_grade = get_grade(english)

# Displaying results
print("Maths:", maths, "Grade:", maths_grade)
print("Science:", science, "Grade:", science_grade)
print("English:", english, "Grade:", english_grade)

Maths: 85 Grade: B
Science: 78 Grade: C
English: 92 Grade: A

In [ ]:
# Taking input from the user
num = int(input("Enter a number: "))

# Checking divisibility
if num % 5 == 0 and num % 11 == 0:
    print(num, "is divisible by both 5 and 11.")
else:
    print(num, "is not divisible by both 5 and 11.")

Enter a number: 55
55 is divisible by both 5 and 11.

In [ ]:
# Taking input from the user
text = input("Enter a string: ")

# Reversing using slicing
reversed_text = text[::-1]

# Output
print("Reversed string (using slicing):", reversed_text)

Enter a string: mom
Reversed string (using slicing): mom

In [ ]:
# Taking input from the user
text = input("Enter a string: ")

# Reversing using loop
reversed_text = ""
for char in text:
    reversed_text = char + reversed_text  # prepend each character

# Output
print("Reversed string (using loop):", reversed_text)

Enter a string: wow
Reversed string (using loop): wow

In [ ]:
# Taking input from the user
text = input("Enter a string: ")

# Define vowels
vowels = 'aeiouAEIOU'

# Initialize count
count = 0

# Count vowels
for char in text:
    if char in vowels:
        count += 1

# Output result
print("Number of vowels in the string:", count)

Enter a string: Hello World
Number of vowels in the string: 3

In [ ]:
# Taking input from the user
text = input("Enter a string: ")

# Remove spaces and convert to lowercase for accurate comparison
clean_text = text.replace(" ", "").lower()

# Check if the string is equal to its reverse
if clean_text == clean_text[::-1]:
    print("Yes, it's a palindrome!")
else:
    print("No, it's not a palindrome.")

Enter a string: madam
Yes, it's a palindrome!

In [ ]:
# Taking input from the user
text = input("Enter a string: ")

# Swap case: uppercase → lowercase, lowercase → uppercase
converted_text = text.swapcase()

# Output
print("Converted string:", converted_text)

Enter a string: Hello World
Converted string: hELLO wORLD

In [ ]:
# Taking input from the user
text = input("Enter a string: ")

# Initialize count
count = 0

# Count characters manually
for char in text:
    count += 1

print("Length of the string is:", count)

Enter a string: asus
Length of the string is: 4

#Loops

In [ ]:
# Input from the user
N = int(input("Enter a number: "))

# Print numbers from 1 to N
for i in range(1, N + 1):
    print(i)

Enter a number: 5
1
2
3
4
5

In [ ]:
# Input from the user
N = int(input("Enter a number: "))

# Print even numbers from 1 to N
for i in range(2, N + 1, 2):
    print(i)

Enter a number: 10
2
4
6
8
10

In [ ]:
# Input from the user
N = int(input("Enter a number: "))

# Calculate the sum using the formula
sum_n = N * (N + 1) // 2  # Using integer division

# Display the result
print("Sum of first", N, "natural numbers is:", sum_n)

Enter a number: 10
Sum of first 10 natural numbers is: 55

In [ ]:
# Input from the user
N = int(input("Enter a number: "))

# Initialize sum to 0
sum_n = 0

# Loop from 1 to N and add each number to sum_n
for i in range(1, N + 1):
    sum_n += i

# Display the result
print("Sum of first", N, "natural numbers is:", sum_n)

Enter a number: 10
Sum of first 10 natural numbers is: 55

In [ ]:
# Input from the user
n = int(input("Enter a number: "))

# Initialize factorial result
factorial = 1

# Calculate factorial using a loop
for i in range(1, n + 1):
    factorial *= i

# Display the result
print("Factorial of", n, "is:", factorial)

Enter a number: 5
Factorial of 5 is: 120

In [ ]:
# Input from the user
num = int(input("Enter a number: "))

# Print multiplication table using a loop
for i in range(1, 11):
    print(f"{num} * {i} = {num * i}")

Enter a number: 19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

LIST

In [ ]:
numbers = [10, 45, 2, 99, 23]
largest = max(numbers)
print("Largest element:", largest)

Largest element: 99

In [ ]:
numbers = [10, 45, 2, 99, 23]
smallest = min(numbers)
print("Smallest element:", smallest)

Smallest element: 2

In [ ]:
numbers = [20,30,10,15]
total = sum(numbers)
print("Sum of elements:", total)

Sum of elements: 75

In [ ]:
numbers = [10, 45, 2, 99, 23]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [2, 10, 23, 45, 99]

In [ ]:
numbers = [10, 45, 10, 2, 45, 99, 2]
unique_numbers = list(set(numbers))
print("List without duplicates:", unique_numbers)

List without duplicates: [99, 10, 2, 45]

TUPLES

In [ ]:
    numbers = (10, 45, 2, 99, 23)

maximum = max(numbers)
minimum = min(numbers)

print("Maximum number:", maximum)
print("Minimum number:", minimum)

Maximum number: 99
Minimum number: 2

In [ ]:
my_tuple = (10, 20, 30, 40)
my_list = list(my_tuple)

print("Converted list:", my_list)

Converted list: [10, 20, 30, 40]

In [ ]:
my_tuple = (10, 20, 10, 30, 10, 40)
count_10 = my_tuple.count(10)

print("Number of times 10 appears:", count_10)

Number of times 10 appears: 3

In [ ]:
my_tuple = (10, 20, 30, 40, 50,60,70,80,90,100)
index_70 = my_tuple.index(70)

print("Index of 70 is:", index_70)

Index of 70 is: 6

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
reversed_tuple = my_tuple[::-1]

print("Reversed tuple is:", reversed_tuple)

Reversed tuple is: (50, 40, 30, 20, 10)

SETS

In [ ]:
empty_dict = {}
print(type(empty_dict))  # <class 'dict'>

<class 'dict'>

In [ ]:
empty_set = set()
print(empty_set)  # Output: set()

set()

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

union_set = set1 | set2
print("Union of sets is:", union_set)

Union of sets is: {1, 2, 3, 4, 5, 6}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1 & set2
print("Intersection of sets is:", intersection_set)

Intersection of sets is: {3, 4}

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

is_subset = set1 <= set2
print("Is set1 a subset of set2?:", is_subset)

Is set1 a subset of set2?: True

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

difference_set = set1 - set2
print("Difference (set1 - set2):", difference_set)

Difference (set1 - set2): {1, 2}

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(3)  # Removes 3

print("Updated set:", my_set)

Updated set: {1, 2, 4}

In [ ]:
# Creating a dictionary
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Print all keys
print("Keys:", my_dict.keys())

# Print all values
print("Values:", my_dict.values())

Keys: dict_keys(['name', 'age', 'city'])
Values: dict_values(['Alice', 25, 'New York'])

In [ ]:
# Dictionary with numeric values
my_dict = {
    "a": 10,
    "b": 40,
    "c": 25
}

# Sum of values
total = sum(my_dict.values())
print("Sum of values:", total)

Sum of values: 75

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

merged = dict1 | dict2
print("Merged dictionary:", merged)

Merged dictionary: {'a': 1, 'b': 3, 'c': 4}

In [ ]:
my_dict = {"a": 3, "b": 1, "c": 2}

# Sorted dictionary by values (ascending)
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print("Sorted by values (ascending):", sorted_dict)

Sorted by values (ascending): {'b': 1, 'c': 2, 'a': 3}

In [ ]:
from collections import Counter

items = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
count_dict = dict(Counter(items))

print("Element counts:", count_dict)

Element counts: {'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
items = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

count_dict = {}

for item in items:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

print("Element counts:", count_dict)

Element counts: {'apple': 3, 'banana': 2, 'orange': 1}

Mathematical Programs

In [ ]:
num = int(input("Enter a number: "))

if num < 2:
    print("Not a prime number")
else:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Enter a number: 75
Not a prime number

In [ ]:
def find_lcm(x, y):
    greater = max(x, y)
    while True:
        if greater % x == 0 and greater % y == 0:
            return greater
        greater += 1

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("LCM:", find_lcm(a, b))

Enter first number: 25
Enter second number: 75
LCM: 75

In [ ]:
def find_gcd(x, y):
    while y:
        x, y = y, x % y
    return x

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("GCD:", find_gcd(a, b))

Enter first number: 75

#FUNCTIONS

In [ ]:
def add_numbers(a, b):
    return a + b

In [ ]:
result = add_numbers(5, 3)
print("The sum is:", result)

The sum is: 8

In [ ]:
def square_number(x):
    return x ** 2


result = square_number(4)
print("The square is:", result)

The square is: 16

In [ ]:
def greet(name="Guest"):
    return f"Hello, {name}!"
    print(greet("Alice"))   # Output: Hello, Alice!
print(greet())          # Output: Hello, Guest!

Hello, Guest!

In [ ]:
def sum_all(*numbers):
    return sum(numbers)
print(sum_all(1, 2, 3))        # Output: 6
print(sum_all(5, 10, 15, 20))  # Output: 50
print(sum_all())               # Output: 0

6
50
0

In [ ]:
def calculate(a, b):
    sum_ = a + b
    difference = a - b
    product = a * b
    return sum_, difference, product
result = calculate(10, 5)
print("Sum:", result[0])
print("Difference:", result[1])
print("Product:", result[2])
s, d, p = calculate(10, 5)
print("Sum:", s)
print("Difference:", d)
print("Product:", p)

Sum: 15
Difference: 5
Product: 50
Sum: 15
Difference: 5
Product: 50

#LAMBDA FUNCTIONS

In [ ]:
add = lambda a, b: a + b
print(add(5, 3))  # Output: 8

8

In [ ]:
maximum = lambda a, b: a if a > b else b
print(maximum(10, 7))  # Output: 10

10

In [ ]:
square = lambda x: x ** 2
print(square(6))  # Output: 36

36

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

#LIST COMPREHENSIONS

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)  # Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
evens = [x for x in range(1, 21) if x % 2 == 0]
print(evens)  # Output: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
original = [1, 2, 3, 4, 5]
reversed_list = [original[i] for i in range(len(original)-1, -1, -1)]
print(reversed_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [ ]:
nested = [[1, 2], [3, 4], [5, 6]]
flattened = [num for sublist in nested for num in sublist]
print(flattened)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common = [x for x in list1 if x in list2]
print(common)  # Output: [4, 5]

[4, 5]

#MISCELLANEUOS

In [ ]:
a = 5
b = 10
a, b = b, a
print("a:", a, "b:", b)  # Output: a: 10 b: 5

a: 10 b: 5

In [ ]:
sentence = "this is a test this is only a test"
words = sentence.split()
word_count = {word: words.count(word) for word in set(words)}
print(word_count)
# Example Output: {'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}

{'is': 2, 'a': 2, 'this': 2, 'only': 1, 'test': 2}

In [ ]:
numbers = [10, 20, 4, 45, 99]
unique_numbers = list(set(numbers))  # remove duplicates
unique_numbers.sort()
second_largest = unique_numbers[-2]
print("Second largest:", second_largest)  # Output: 45

Second largest: 45

In [ ]:
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

print(are_anagrams("listen", "silent"))  # Output: True
print(are_anagrams("hello", "world"))    # Output: False

True
False

In [ ]:
def print_pascals_triangle(n):
    for i in range(n):
        num = 1
        row = []
        for j in range(i + 1):
            row.append(num)
            num = num * (i - j) // (j + 1)
        print(" " * (n - i), " ".join(map(str, row)))

print_pascals_triangle(5)

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1